._57g3{font-size:12px;margin:12px auto;text-align:center}
._29oh{display:inline-block;margin:-5px 0 -12px 0;position:relative}
.sp_E8iPT5mUOpC{background-image:url(/rsrc.php/v3/ya/r/w3RMT6Eaf_2.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:14px;width:13px}.sp_E8iPT5mUOpC.sx_a15379{background-position:0 0}.sp_E8iPT5mUOpC.sx_778275{height:13px;background-position:0 -15px}

#bootloader_nQENn{height:42px;}.bootloader_nQENn{display:block!important;}